[submodule "targets/android/lib/libpng"]
	path = targets/android/lib/libpng
	url = https://github.com/julienr/libpng-android.git
[submodule "nit"]
	path = nit
	url = https://github.com/xymus/nit.git
[submodule "lib/ftgles"]
	path = lib/ftgles
	url = https://github.com/cdave1/ftgles.git
[submodule "targets/android/lib/freetype2"]
	path = targets/android/lib/freetype2
	url = git://git.sv.gnu.org/freetype/freetype2.git
